*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.firstDiv{
    display:grid;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding: 0.2rem;
}
img{
    width: 8rem;
    height: 7rem;
    border-radius: 1rem;
    cursor: pointer;
}

.card{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap:1rem;
    padding: 0.2rem;
    width: 22rem;    
}