*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(34, 134, 216);
    width: 23rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 2rem;
}
.clearAll{
    padding: 0.8rem 1.5rem;
    background-color: coral;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 0.5rem;

}
.getBack{
    padding: 0.8rem 1.5rem;
    background-color: rgb(95, 255, 80);
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    cursor: pointer;
}